$border-color: #009bff;
$c-diglog-bgc-color: #071738;
$common-bgc-active: #00406e;
$common-bgc: #162235;
$color-border: #92ffff;
$color-border-base: #0686d8;
$btn-common-color-active: #004a96;
$btn-common-color-bd-active: $border-color;
$btn-common-color: #47526f;
$btn-common-bd-color: #98aace;
$border-color-active: #00c5ff;
$btn-delete-border-color-hover: #ff0045;
$btn-delete-bgc-color-hover: #760020;

$color-text-base: #70d5f8;

@mixin position-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin layout-padding {
  padding: 20px;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-sb() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin text-es() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin common-bgc {
  background-image: linear-gradient(0deg, #005c9e 0%, #00274f 100%);
}

@mixin common-border {
  border: 1px solid $border-color;
}

@mixin cDialog-t-bgc-color {
  background-image: linear-gradient(
    179deg,
    #fff 0%,
    rgba(206, 207, 207, 0.29) 100%
  );
}

.ant-table-thead > tr > th {
  text-align: center !important;
}

.ant-table-cell {
  text-align: center !important;
  vertical-align: middle;
}

.ant-table-body tr td {
  text-align: center !important;
  vertical-align: middle;
  cursor: pointer;
}

html {
  overflow: auto !important;
  box-sizing: border-box;
  user-select: none;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  background-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.85);
}

// 浅色主题下的表格样式 - 蓝色表头，浅灰色行
.ant-table {
  background-color: #ffffff !important;
  
  .ant-table-thead > tr > th {
    background-color: #1890ff !important;
    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
    color: #ffffff !important;
    font-weight: 500;
  }
  
  .ant-table-tbody > tr > td {
    background-color: #ffffff !important;
    border-bottom-color: rgba(0, 0, 0, 0.06) !important;
    color: rgba(0, 0, 0, 0.85) !important;
  }
  
  // 交替行颜色 - 浅灰色
  .ant-table-tbody > tr:nth-child(even) > td {
    background-color: #fafafa !important;
  }
  
  // 稍深一点的灰色行
  .ant-table-tbody > tr:nth-child(odd) > td {
    background-color: #f5f5f5 !important;
  }
  
  .ant-table-tbody > tr:hover > td {
    background-color: #e6f7ff !important;
  }
}
